@* <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - &#x1F43C; Pandafilm</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/services.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/global.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/pandafilm.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
</head>
<body>
    <section id="top">
        <div class="container">
            <div class="row top_1">
                <div class="col-md-3">
                    <div class="top_1l pt-1">
                        <h3 class="mb-0"><a class="text-white" asp-area="" asp-controller="Home" asp-action="Index">&#x1F43C; Pandafilm</a></h3>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="top_1m">
                        <div class="input-group">
                            <input type="text" class="form-control bg-black" placeholder="Search Site...">
                            <span class="input-group-btn">
                                <button class="btn btn text-white bg_red rounded-0 border-0" type="button">Search</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="top_1r text-end">
                        <ul class="social-network social-circle mb-0">
                            <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="header">
        <nav class="navbar navbar-expand-md navbar-light" id="navbar_sticky">
            <div class="container">
                <a class="navbar-brand text-white fw-bold" asp-area="" asp-controller="Home" asp-action="Index"> &#x1F43C; Pandafilm</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Blog
                            </a>
                            <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Blog">Blog</a></li>
                                <li><a class="dropdown-item border-0" asp-area="" asp-controller="Home" asp-action="BlogDetail">Blog Detail</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Team">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="SignIn">Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="SignUp">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="ForgotPassword">Forgot Password</a>
                        </li>
                        <li class="nav-item">
                            <form id="logoutForm" asp-area="" asp-controller="Account" asp-action="SignOut" method="post">
                                <button type="submit" class="nav-link btn btn-link text-dark" style="background-color: transparent; border: none;">Sign Out</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <div class="body">

        @RenderBody()

    </div>

    <section id="footer">
    <div class="footer_m clearfix">
     <div class="container">
       <div class="row footer_1">
        <div class="col-md-4">
    	 <div class="footer_1i">
    	   <h3><a class="text-white" asp-area="" asp-controller="Home" asp-action="Index"> &#x1F43C; Pandafilm</a></h3>
    	   <p class="mt-3">Lorem ipsum dolor sit amet consect etur adi pisicing elit sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet consect etur. </p>
    	   <h6 class="fw-normal"><i class="fa fa-map-marker fs-5 align-middle col_red me-1"></i> 5311 Ceaver Sidge Td. Pakland, DE 13507</h6>
            <h6 class="fw-normal mt-3"><i class="fa fa-envelope fs-5 align-middle col_red me-1"></i> info@gmail.com</h6>
    		<h6 class="fw-normal mt-3 mb-0"><i class="fa fa-phone fs-5 align-middle col_red me-1"></i>  +123 123 456</h6>
    	 </div>
    	</div>
    	<div class="col-md-4">
    	 <div class="footer_1i">
    	  <h4>Flickr <span class="col_red">Stream</span></h4>
          <div class="footer_1i1 row mt-4">
    	   <div class="col-md-3 col-3">
    	    <div class="footer_1i1i">
    		  <div class="grid clearfix">
    				  <figure class="effect-jazz mb-0">
    					<a href="#"><img src="img/4.jpg" height="70" class="w-100" alt="abc"></a>
    				  </figure>
    			  </div>
    		</div>
    	   </div>
    	   <div class="col-md-3 col-3">
    	    <div class="footer_1i1i">
    		  <div class="grid clearfix">
    				  <figure class="effect-jazz mb-0">
    					<a href="#"><img src="img/5.jpg" height="70" class="w-100" alt="abc"></a>
    				  </figure>
    			  </div>
    		</div>
    	   </div>
    	   <div class="col-md-3 col-3">
    	    <div class="footer_1i1i">
    		  <div class="grid clearfix">
    				  <figure class="effect-jazz mb-0">
    					<a href="#"><img src="img/6.jpg" height="70" class="w-100" alt="abc"></a>
    				  </figure>
    			  </div>
    		</div>
    	   </div>
    	   <div class="col-md-3 col-3">
    	    <div class="footer_1i1i">
    		  <div class="grid clearfix">
    				  <figure class="effect-jazz mb-0">
    					<a href="#"><img src="img/7.jpg" height="70" class="w-100" alt="abc"></a>
    				  </figure>
    			  </div>
    		</div>
    	   </div>
    	  </div>
    	  <div class="footer_1i1 row mt-3">
    	   <div class="col-md-3 col-3">
    	    <div class="footer_1i1i">
    		  <div class="grid clearfix">
    				  <figure class="effect-jazz mb-0">
    					<a href="#"><img src="img/8.jpg" height="70" class="w-100" alt="abc"></a>
    				  </figure>
    			  </div>
    		</div>
    	   </div>
    	   <div class="col-md-3 col-3">
    	    <div class="footer_1i1i">
    		  <div class="grid clearfix">
    				  <figure class="effect-jazz mb-0">
    					<a href="#"><img src="img/9.jpg" height="70" class="w-100" alt="abc"></a>
    				  </figure>
    			  </div>
    		</div>
    	   </div>
    	   <div class="col-md-3 col-3">
    	    <div class="footer_1i1i">
    		  <div class="grid clearfix">
    				  <figure class="effect-jazz mb-0">
    					<a href="#"><img src="img/10.jpg" height="70" class="w-100" alt="abc"></a>
    				  </figure>
    			  </div>
    		</div>
    	   </div>
    	   <div class="col-md-3 col-3">
    	    <div class="footer_1i1i">
    		  <div class="grid clearfix">
    				  <figure class="effect-jazz mb-0">
    					<a href="#"><img src="img/11.jpg" height="70" class="w-100" alt="abc"></a>
    				  </figure>
    			  </div>
    		</div>
    	   </div>
    	  </div>
    	 </div>
    	</div>
    	<div class="col-md-4">
    	 <div class="footer_1i">
    	  <h4>Sign  <span class="col_red">Newsletter</span></h4>
          <p class="mt-3">Subscribe to our newsletter list to get latest news and updates from us</p>
    	  <div class="input-group">
    				<input type="text" class="form-control bg-black" placeholder="Email">
    				<span class="input-group-btn">
    					<button class="btn btn text-white bg_red rounded-0 border-0" type="button">
    						 Subscribe</button>
    				</span>
    		</div>
    		<ul class="social-network social-circle mb-0 mt-4">
    			<li><a href="#" class="icoRss" title="Rss"><i class="fa fa-instagram"></i></a></li>
    			<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
    			<li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
    			<li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-youtube"></i></a></li>
    			<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
    		</ul>
    	 </div>
    	</div>
       </div>
    </div>
    </div>
    </section>
    
    <section id="footer_b" class="pt-3 pb-3 bg_grey">
    <div class="container">
       <div class="row footer_1">
         <div class="col-md-8">
    	  <div class="footer_1l">
    	   <p class="mb-0">© 2013 Your Website Name. All Rights Reserved | Design by <a class="col_red" href="http://www.templateonweb.com">TemplateOnWeb</a></p>
    	  </div>
    	 </div>
    	 <div class="col-md-4">
    	  <div class="footer_1r">
    	   <ul class="mb-0">
    	    <li class="d-inline-block me-2"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    		<li class="d-inline-block me-2"><a asp-area="" asp-controller="Home" asp-action="Features">Features</a></li>
    		<li class="d-inline-block me-2"><a asp-area="" asp-controller="Home" asp-action="Pages">Pages</a></li>
    		<li class="d-inline-block me-2"><a asp-area="" asp-controller="Home" asp-action="Portfolio">Portfolio</a></li>
    		<li class="d-inline-block me-2"><a asp-area="" asp-controller="Home" asp-action="Blog">Blog</a></li>
    		<li class="d-inline-block"><a asp-area="" asp-controller="Home" asp-action="ContactUs">Contact</a></li>
    	   </ul>
    	  </div>
    	 </div>
       </div>
    </div>
    </section>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sign.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html> *@


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./css/site.css">
    <title>@ViewData["Title"] - Movix</title>
</head>
<body>
    <header>
        <div class="logo"><a asp-controller="Home" asp-action="Index"><img src="/icons/logo.png">Movix</a></div>
        <nav class="navbar">
            <li class="nav_link activeBtn"><a asp-controller="Home" asp-action="Index"><i class="bi bi-house"></i>Home</a></li>
            <li class="nav_link"><a asp-controller="Content" asp-action="MovieSearch"><i class="bi bi-film"></i>Movies</a></li>
            <li class="nav_link"><a href=""><i class="bi bi-camera-reels"></i>Series</a></li>
            <li class="nav_link"><a href=""><i class="bi bi-emoji-laughing"></i>Cartoons</a></li>
            <li class="nav_link"><a href=""><i class="bi bi-tv"></i>TV-Shows</a></li>
        </nav>
        <div class="cta">
            <a class="freeBtn" href="#">Watch 30 days for free</a>
            <div class="search"><i class="bi bi-search"></i>Search</div>
            <div class="profile"><a asp-controller="Account" asp-action="Index"><i class="bi bi-person-circle"></i></a></div>
        </div>
        @await Html.PartialAsync("_SearchBarPartialView", new SearchMovieViewModel())
    </header>
    <hr class="line">
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <hr class="line">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 footer_card">
                    <h5>About us</h5>
                    <a href="#">About company</a>
                    <a href="#">Vacancies</a>
                    <a href="#">Information for partners</a>
                    <a href="#">Privacy policy</a>
                    <a href="#">Ads</a>
                </div>
                <div class="col-xl-3 footer_card">
                    <h5>Pages</h5>
                    <a href="#">Home</a>
                    <a href="#">Movies</a>
                    <a href="#">Series</a>
                    <a href="#">Cartoons</a>
                    <a href="#">TV-Shows</a>
                </div>
                <div class="col-xl-3 footer_card">
                    <h5>Support</h5>
                    <div class="footer_support_btns">
                        <a class="chat_btn" href="">Message in chat</a>
                        <a class="email_btn" href=""><i class="bi bi-envelope"></i></a>
                        <a class="phone_btn" href=""><i class="bi bi-telephone"></i></a>
                    </div>
                </div>
                <div class="col-xl-3 footer_card">
                    <img class="age-logo" src="/icons/age-icon.png">
                </div>
            </div>
        </div>
        <hr class="line">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 mb-3">
                    <p><i class="bi bi-c-circle"></i> 2023 Movix.com</p>
                    <p>All services are the property of Movix, Inc</p>
                </div>
                <div class="col-xl-6 socials">
                    <a class="facebook" href=""><i class="bi bi-facebook"></i></a>
                    <a class="instagram" href=""><i class="bi bi-instagram"></i></a>
                    <a class="twitter" href=""><i class="bi bi-twitter"></i></a>
                    <a class="telegram" href=""><i class="bi bi-telegram"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/js/site.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>