@using Microsoft.AspNetCore.Identity
@model LoginViewModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<head>
    <link rel="stylesheet" href="~/css/profile.css" />
</head>

@if (SignInManager.IsSignedIn(User))
{
    <a class="profile_section_card user_profile_btn" href="">
        <i class="bi bi-person"></i>
        <h5>Hello, @UserManager.GetUserName(User)</h5>
        <form asp-controller="Account" asp-action="LogOff" method="post">
            <button class="nav-link btn" type="submit">Log Out</button>
        </form>
    </a>
} 
else {
    <a class="profile_section_card profile_enter_btn" href="">
        <i class="bi bi-person"></i>
        <h5>Log In</h5>
    </a>
    <div class="pop_up" id="login_pop_up">
        <div class="container">
            <div class="pop_up_body">
                <form method="post" role="form" class="form">
                    <h2 class="login_header">Log in</h2>
                    <div asp-validation-summary="All" class="text-danger mt-2"></div>
                    <div class="form-group mt-3">
                        <label asp-for="Email">Email</label>
                        <input asp-for="Email" class="login_input" placeholder="example@yourmail.com">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <label asp-for="Password">Password</label>
                        <input asp-for="Password" class="login_input" placeholder="password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <button asp-action="Login" class="submit_btn login_submit_btn" type="submit">Log in</button>
                    </div>
                    <div class="form-group mt-5">
                        <a asp-action="Register" class="login_additional_btn">Sign in</a>
                        <a asp-action="ForgotPassword" class="login_additional_btn">Forgot password</a>
                    </div>
                </form>
                <div class="login_pop_up_close pop_up_close"><i class="bi bi-x-lg"></i></div>
            </div>
        </div>
    </div>
}