<head>
	<link rel="stylesheet" href="~/css/site.css" />
</head>

<h1>Reset your password</h1>
<p>
	Your password has been reset. Please <a asp-controller="Account" asp-action="Index">Click here to log in</a>
</p>